
.switch-box{
	position:relative;
	width:200px ;
	height:100px;
	display:inline-block;
	
}
.switch{
	position: absolute;
	border-radius: 50px;
	background-color: white;
	border: 4px solid lightgray;
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
}
.switch:before{
	position: absolute;
	content:"";
	width:80px;
	height:80px;
	margin:6px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0px 1px 11px 1px #8080808c;
	transition: all 0.5s;
}

input{
	display:none;
}

input:checked + .switch{
	background-color: #50d457;
	transition: background-color 500ms ease-in-out;
}

input:checked ~ .switch:before{
	transform: translateX(100px);
}